# Data Cleaning

### Data Types & Conversion
Understanding Data Types in Python

Python has various data types, including integers, floats, strings, and datetime objects.

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import datetime 

# Create a sample dataset
data = {
    'Name': ['Jon', 'Lynn', 'Michael', 'Shane', 'Stephanie'],
    'Age': ['25', '30', '35', '40', '45'],  # Stored as strings
    'Salary': ['50000', '60000', '70000', '80000', '90000'],  # Stored as strings
    'Joining Date': ['2023-01-10', '2022-05-15', '2021-07-20', '2019-11-30', '2018-06-25'],  # Date in string format
    'Department': ['HR', 'Finance', 'IT', 'IT', 'Finance']
}

# Convert to DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
display(df)

In [ ]:
# Checking data types before conversion

print("\nData types before conversion:")
display(df.dtypes)

In [ ]:
### Converting Data Types

# Convert 'Age' and 'Salary' to numeric
df['Age'] = pd.to_numeric(df['Age'])
df['Salary'] = pd.to_numeric(df['Salary'])

# Convert 'Joining Date' to datetime
df['Joining Date'] = pd.to_datetime(df['Joining Date'])

# Checking data types after conversion
print("\nData types after conversion:")
display(df.dtypes)

#### .loc
* label-based indexing
* It selects data by row label & column label


#### label vs position
* .loc → label-based (“Find the row named 2”)
 
* .iloc → position-based (“Find the row at position 2”)

In [ ]:
### Mapping & Converting Categorical Data

# Convert 'Department' to categorical
df['Department'] = df['Department'].astype('category')

# Create a mapping for Department
dept_mapping = {'HR': 1, 'Finance': 2, 'IT': 3}
df['Department_Code'] = df['Department'].map(dept_mapping)

print("\nFinal DataFrame with Department mapped:")
display(df)

### Handling Missing & Incorrect Data

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a sample dataset with missing and incorrect values
data = {
    'Name': ['Lynn', 'Shane', 'Michael', 'Jon', np.nan],
    'Age': [25, np.nan, 35, 40, 28],
    'Salary': [50000, 60000, np.nan, 80000, 90000],
    'Joining Date': ['2023-01-10', '2022-05-15', 'Invalid Date', '2019-11-30', '2018-06-25'],
    'Department': ['HR', 'Finance', 'IT', np.nan, 'Finance']
}

# Convert to DataFrame
df = pd.DataFrame(data)

print("Original DataFrame:")
display(df)

In [ ]:
### Detecting Missing Data
print("\nMissing values per column:")
display(df.isnull().sum())

In [ ]:
### Handling Missing Data

# Option 1: Removing rows with missing values
df_dropped = df.dropna()
print("\nDataFrame after dropping missing values:")
display(df_dropped)

In [ ]:
# Drop rows only if Age or Salary is NaN

df_dropped_age = df.dropna(subset=['Age','Salary'])
display(df_dropped_age)

inplace = True

Apply the change directly to the original object, instead of returning a new one.

In [ ]:
# Option 2: Filling missing values

# Fill 'Salary' with a default value
df['Salary'].fillna(0, inplace=True)

# Fill 'Age' with mean value
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill 'Department' with the most frequent value
df['Department'].fillna(df['Department'].mode()[0], inplace=True)

print("\nDataFrame after filling missing values:")
display(df)

In [ ]:
### Handling Incorrect Data

# Converting 'Joining Date' to datetime, handling errors
df['Joining Date'] = pd.to_datetime(df['Joining Date'], errors='coerce')

# Identify and replace incorrect values in a column
# Suppose Age should be between 20 and 60; replace outliers
outlier_condition = (df['Age'] < 20) | (df['Age'] > 60)
df.loc[outlier_condition, 'Age'] = df['Age'].median()

print("\nDataFrame after handling incorrect values:")
display(df)

### Dealing with Text Data

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import re

# Create a sample dataset with messy text data
data = {
    'Name': ['Alice Smith', 'BOB JOHNSON', 'Charlie Brown', 'DAVID WILLIAMS', 'Eve Clark'],
    'Email': ['alice @email.com', 'BOB@email.COM', 'charlie@email.com', 'david@email.com', 'eve@ email .com'],
    'Department': ['HR', 'finance', 'IT', 'it', 'Finance'],
    'Feedback': ['Great service!!!', 'average experience...', 'not good :(', 'EXCELLENT!!', 'bad support']
}

# Convert to DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
display(df)

In [ ]:
### Standardizing Text Data

# Convert all text columns to lowercase
df = df.apply(lambda col: col.astype(str).str.lower())
print("\nDataFrame after converting text to lowercase:")
display(df)

In [ ]:
# Trim spaces and remove extra spaces in email

# \s → any whitespace character (space, tab, newline)
# + → one or more times
df['Email'] = df['Email'].str.replace(r'\s+', '', regex=True)
print("\nDataFrame after cleaning email column:")
display(df[['Email']])

Pandas Series does not have .replace() for regex-based string ops
* .str tells pandas to apply this string function to each element

In [ ]:
# Standardize department names

df['Department'] = df['Department'].replace({'finance': 'Finance', 'it': 'IT', 'hr': 'HR'})
print("\nDataFrame after standardizing department names:")
display(df[['Department']])

.replace() here performs value substitution and replaces entire cell values

In [ ]:
### Handling Inconsistent and Noisy Text

# Removing special characters from feedback
df['Feedback'] = df['Feedback'].str.replace(r'[^a-zA-Z0-9 ]', '', regex=True)
# [^a-zA-Z0-9 ] Match anything EXCEPT letters, numbers, and spaces

print("\nDataFrame after removing special characters from feedback:")
display(df[['Feedback']])

In [ ]:
### Extracting Information from Text

# Extract domain from email using regex
df['Email Domain'] = df['Email'].str.extract(r'@([a-zA-Z0-9.-]+)') # + means one or more times
print("\nDataFrame after extracting email domains:")
display(df[['Email', 'Email Domain']])

In [ ]:
### Finding and Replacing Specific Words

# Replace 'bad' and 'not good' with 'negative'
df['Feedback'] = df['Feedback'].replace({'bad': 'negative', 'not good': 'negative'}, regex=True)
# Without regex=True, only replaces entire cell values that are exactly "bad".

print("\nDataFrame after replacing words in feedback:")
display(df[['Feedback']])

### Detecting & Handling Outliers

In [ ]:
# %pip install matplotlib seaborn

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Create a sample dataset with outliers
data = {
    'Employee': ['Lynn', 'Shane', 'Michael', 'Mei', 'Adeline', 'Stephanie', 'Carol', 'Vivian', 'Harvey', 'Ken'],
    'Salary': [50000, 52000, 51000, 53000, 49000, 60000, 62000, 65000, 70000, 150000],  # Outlier at 150000
    'Age': [25, 26, 24, 27, 25, 29, 30, 31, 32, 60],  # Possible outlier at 60
}

# Convert to DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
display(df)

In [ ]:
### Detecting Outliers
# Using Summary Statistics
print("\nSummary statistics:")
display(df.describe())

In [ ]:
# Visualizing Outliers
plt.figure(figsize=(12,5))
sns.boxplot(data=df[['Salary', 'Age']])
plt.title("Boxplot of Salary and Age")
plt.show()

In [ ]:
### Detecting Outliers Using IQR (Interquartile Range)
Q1 = df[['Salary', 'Age']].quantile(0.25)
Q3 = df[['Salary', 'Age']].quantile(0.75)
IQR = Q3 - Q1

outlier_condition = (df[['Salary', 'Age']] < (Q1 - 1.5 * IQR)) | (df[['Salary', 'Age']] > (Q3 + 1.5 * IQR))
print("\nDetected Outliers:")
display(df[outlier_condition.any(axis=1)])

In [ ]:
### Handling Outliers

# Option 1: Removing Outliers
df_removed = df[~outlier_condition.any(axis=1)]
print("\nDataFrame after removing outliers:")
display(df_removed)

In [ ]:
# Option 2: Replacing Outliers with Median
df_replaced = df.copy()
df_replaced.loc[outlier_condition.any(axis=1), ['Salary', 'Age']] = df[['Salary', 'Age']].median()
print("\nDataFrame after replacing outliers with median:")
display(df_replaced)

In [ ]:
# Option 3: Capping Outliers (Winsorization)
df_capped = df.copy()
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

df_capped[['Salary', 'Age']] = np.where(df_capped[['Salary', 'Age']] < lower_bound, lower_bound, df_capped[['Salary', 'Age']])
df_capped[['Salary', 'Age']] = np.where(df_capped[['Salary', 'Age']] > upper_bound, upper_bound, df_capped[['Salary', 'Age']])

print("\nDataFrame after capping outliers:")
display(df_capped)

### Data Deduplication

In [ ]:
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a sample dataset with duplicate records
data = {
    'Employee ID': [101, 102, 103, 104, 101, 105, 102, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice', 'Eve', 'Bob', 'Grace', 'Hank', 'Ivy'],
    'Department': ['HR', 'Finance', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR', 'Finance'],
    'Salary': [50000, 52000, 51000, 53000, 50000, 60000, 52000, 62000, 49000, 60000]
}

# Convert to DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
display(df)

In [ ]:
### Detecting Duplicate Records

# Identifying duplicate rows based on all columns
duplicates = df.duplicated()
print("\nDuplicate Rows:")
display(df[duplicates])

In [ ]:
# Identifying duplicate rows based on 'Employee ID'
print("\nDuplicate Employee IDs:")
display(df[df.duplicated(subset=['Employee ID', 'Name'], keep=False)])

In [ ]:
### Handling Duplicates

# Option 1: Removing exact duplicates
df_removed = df.drop_duplicates()
print("\nDataFrame after removing exact duplicates:")
display(df_removed)

In [ ]:
# Option 2: Keeping the first occurrence

df_first = df.drop_duplicates(subset=['Employee ID', 'Name'], keep='first')
print("\nDataFrame after keeping first occurrence:")
display(df_first)

In [ ]:
# Option 3: Keeping the last occurrence

df_last = df.drop_duplicates(subset=['Employee ID'], keep='last')
print("\nDataFrame after keeping last occurrence:")
display(df_last)

### Creating New Columns

In [ ]:
### Creating New Columns in Pandas
# Import necessary libraries
import pandas as pd
import numpy as np

# Create a sample dataset
data = {
    'Employee': ['Lynn', 'Shane', 'Michael', 'Harvey', 'Vivian'],
    'Salary': [50000, 52000, 51000, 53000, 49000],
    'Joining Date': ['2023-01-10', '2022-05-15', '2021-07-20', '2019-11-30', '2018-06-25'],
    'Department': ['HR', 'Finance', 'IT', 'IT', 'Finance']
}

# Convert to DataFrame
df = pd.DataFrame(data)
print("Original DataFrame:")
display(df)

In [ ]:
### Creating Numeric Columns

# Adding a new column: Bonus (10% of Salary)
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame after adding Bonus column:")
display(df)

In [ ]:
# Creating a column that categorizes employees based on salary level

def categorize_salary(salary):
    if salary < 50000:
        return 'Low'
    elif 50000 <= salary < 55000:
        return 'Medium'
    else:
        return 'High'

df['Salary Category'] = df['Salary'].apply(categorize_salary)
print("\nDataFrame after adding Salary Category:")
display(df)

In [ ]:
### Creating DateTime Columns

# Convert 'Joining Date' to datetime format
df['Joining Date'] = pd.to_datetime(df['Joining Date'])

# Extract year, month, and day from 'Joining Date'
df['Joining Year'] = df['Joining Date'].dt.year
df['Joining Month'] = df['Joining Date'].dt.month
df['Joining Day'] = df['Joining Date'].dt.day

print("\nDataFrame after extracting DateTime features:")
display(df)

In [ ]:
### Creating Text Columns

# Combining Employee Name and Department to create a new column
df['Employee Info'] = df['Employee'] + ' - ' + df['Department']
print("\nDataFrame after adding Employee Info column:")
display(df)

In [ ]:
# Creating an uppercase version of Employee names

df['Employee Uppercase'] = df['Employee'].str.upper()
print("\nDataFrame after adding Uppercase Employee column:")
display(df)